{% load simplenote_version %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>simplenote {% get_version %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0-rc.3/dist/css/foundation-float.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/motion-ui@1.2.3/dist/motion-ui.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0-rc.3/dist/js/foundation.min.js"></script>
</head>

<body>

  <div>
    <div class="top-bar">
      <div class="top-bar-center" style="max-width: 80em; padding: .5em; margin: 0 auto;">
        <span class="h1"><a href="/">simplenote</a></span>
        <span class="h6"><a href="https://github.com/gregschmit/django-simplenote">{% get_version %}</a></span>
      </div>
    </div>
  </div>

  <div style="max-width: 80em; padding: .5em; margin: 0 auto;">
    {% block main %}{% endblock %}
  </div>

  <div style="max-width: 80em; padding: .5em; margin: 0 auto;">
    <hr>
    <div class="row">
      <div class="columns medium-6">
        <p>Copyright 2019, Gregory N. Schmit</p>
      </div>
      <div class="columns medium-6 text-right">
        <p><a href="https://github.com/gregschmit/django-simplenote">https://github.com/gregschmit/django-simplenote</a></p>
      </div>
    </div>
  </div>

</body>

</html>
